.card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-container .carousel-card {
    position: relative;
    width: 100%;
    background: wheat;
    border-radius: 20px;
}

.image-container .carousel-images {
    background-size: contain;
    width: 150px;
    height: 125px;
}