.geobuttonContainer {
    align-self: center;
    display: flex;
    padding: 25px;
}

.geobuttonContainer button {
    /* position: fixed; */
    padding: 8px 25px;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all 1s;
    border:0.16em solid #d9ab73;
    margin: 0, .3em, .3em, 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    background-color: white;
    color: rgb(7, 6, 6);
    cursor: pointer;
    outline: none !important;
    display: flex;
    align-items: center;
}


#root .geoContainer {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    justify-content: center;
    z-index: 100;
}

.geoModal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: #d9ab73;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}


.deliveryBackButtonBar {
    position: absolute;
    justify-content: center;
    display: flex;
    padding: 15px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    font-size: 14px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 5px 5px 5px 20px;
    width: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    white-space: nowrap;
    background-color: rgb(182, 175, 144);
    border-radius: 5px;
}

