.geobuttonContainer button {
    padding: 15px 25px;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #d9ab73;
    color: white;
    cursor: pointer;
    font-family: "Crimson Pro", sans-serif;
}

#root .geoContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.geoContainer .geoModal {
    z-index: 1;
    width: 250px;
    height: 220px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
    animation: animate .3s;
}

.geoModal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: #d9ab73;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}

@keyframes animate {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}


