.geobuttonContainer {
    align-self: center;
    display: flex;
    padding: 25px;
}
/* .geobuttonContainer:before {
    content: '';
    position: absolute;
    border: 1px solid #d9ab73;
    left: 0;
    right: 0;
    transform: scale(0.97,0.94);
    width: 100%;
    height: 100%;
}

.geobuttonContainer:after {
    content: '';
    position: absolute;
    border: 1px solid #d9ab73;
    left: 0;
    top: 0;
    right: 0;
    transform:scale(0.95,0.98);
    width: 100%;
    height: 100%;
} */
.geobuttonContainer button {
    padding: 15px 25px;
    font-size: 1.5rem;
    font-weight: bolder;
    border:0.16em solid #d9ab73;
    margin: 0, .3em, .3em, 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    background-color:rgba(0,0,0,0);
    color: rgb(7, 6, 6);
    cursor: pointer;
    /* font-family: "Crimson Pro", sans-serif; */
}

#root .geoContainer {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* .geoContainer .geoModal {
    z-index: 1;
    width: 250px;
    height: 220px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
    animation: animate .3s;
} */

.geoModal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: #d9ab73;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}

@keyframes animate {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}


