.deliveryHeader {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px;
    color: black;
    text-align: center;
    font-family: 'Crimson Pro';
}
.deliveryInfo {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.deliveryFloat {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid #d9ab73;
    margin-right: auto;
    margin-left: auto;
    background-image: url(./Images/unionstation.jpg);
    overflow: hidden;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(25px);
    background-size: cover;
    /* opacity: .4; */
}

.floatContainer {
    padding: 10px 10px 10px 10px;
    margin: 45px 45px 45px 45px;
}

.floatHeader {
    color: #d9ab73;
    text-align: center;
    font-weight: bolder;
}

.floatSub {
    text-align: center;
    color: whitesmoke;
}

.floatList {
    color: #d9ab73;
    /* text-align: center; */
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 10px;
}

@media (min-width: 991px) {
    .search {
      color: #d9ab73;
      position: sticky;
      text-align: center;
      /* margin-bottom: 5vh; */
      z-index: 20;
      top: 0vh;
      padding-top: 1px;
      margin-bottom: 5vh;
  
      background-color: rgb(24,24,24, 0.9);
      box-shadow: 0px -12px 30px 20px rgb(24,24,24);
      
    }
  
    /* .deliveryInfo {
      height: calc(100vh - 70px - 55px);
      overflow-y:auto;
      overflow-x:hidden;
    } */
  
    /* .storePageHeight {
      height: calc(100vh - 70px - 55px);
      overflow:hidden;
    }
   */
  }
  
  
  /* .search {
    color: #d9ab73;
    text-align: center;
    margin-bottom: 5vh;
  } */
  
  
  
  @media (max-width: 991px) {
  
    /* .storeFinderInfo  {
      height: calc(100vh - 70px - 55px);
      overflow-y: scroll;
    }
  
    .stickyMap {
      position: relative !important;
    } */
    .mapCol {
      /* position: fixed; */
      right:0;
    }
    .search {
      display: none;
    }
    .storeCards {
      margin-top: 20px;
      /* z-index: 1000; */
    }
    .mobileSearch {
      display: block !important;
      z-index: 1;
    }
    .desktopMap {
      display: none;
    }
    .mobileMap {
      display: block !important;
    }
  }

  .desktopMap {
      width: 50%;
      height: fit-content;
  }
  
  .mobileMap {
    display: none;
  }
  .mobileSearch {
    color: #d9ab73;
    text-align: center;
    margin-bottom: 5vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
  }
  .search h1 {
    margin-bottom: 1vh;
  }
  
  .mapCol {
    padding: 0px !important;
  }
  
  .selectedStoreInfo {
    padding: 0px !important;
  }
  
  .stickyMap {
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0px;
    padding: 0px !important;
  }
  
  .stickyMap > div > div {
    height: calc(100vh - 65px);
    position: relative;
    overflow: hidden;
    /* pointer-events: none; */
  }
  