#navbar {
    position: sticky;
    display: block;
    top:0;
    background-color: rgb(24,24,24);
    width: 100%;
    z-index: 98;
    text-align: right;
    padding: 14px;
    box-shadow: 0 2px 8px -2px black;

    overflow-x: hidden;
  }
  
  .navbarImage {
    float: left;
  }

  .navbarImage img {
    float: left;
    width: 12em;
  }

  .navbarMainItems {
    float: right;
  }

  #navbar a:hover {
    color: #d9ab73;
  }
  
  .mainNavItem {
    
    color: #f2e6d5;
    
    text-decoration: none;
    
    font-size: 28px;
    font-family: "Crimson Text Pro", serif;
    padding: 14px;
    
  }

@media screen and (max-width: 768px){
  #navbar img {
    width: 10em;
  }
  .mainNavItem {
  font-size: 22px;
  }
}

@media screen and (max-width: 425px){
  #navbar {
    padding: 10px;
  }
  #navbar img {
    width: 8em;
  }
  .mainNavItem {
    font-size: 18px;
    padding: 10px;
  }
}

@media screen and (max-width: 375px){
  #navbar img {
    width: 7em;
  }
  .mainNavItem {
    font-size: 16px;
  }
}

.mobileNav {
  display: none;
}

@media screen and (max-width:550px) {
  
  #navbar{
    display: none;
  }

  .mobileNav{
    position: sticky;
    display: block;
    background-color: rgb(24,24,24);
    width: 100%;
    /* height: 100%; */
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 8px -2px black;
    overflow-x: hidden;
    z-index: 98;
  }

  .mobileNav img {
    width: 8em;
  }


  .mobileNav label {
    text-align: right;
    color: #d9ab73;
    font-size: 1.5em;
    display: block;
    align-self: center;
    margin: 0px 10px;
    line-height: 25px;
  }

  label {
    cursor: pointer;
  }
  #toggle {
    display: none;
  }

  .navMenu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .navMenu a {
    display: block;
    border-bottom: 1px solid #d9ab73;
    margin: 0;
    text-decoration: none;
    color: #f2e6d5;
    padding: 10px;
  }
  
  .navMenu a:hover {
    color: #d9ab73;
  }

  #toggle:checked + .navMenu {
    display: block;
  }
}